@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
html, body{
    margin: 0;
    padding: 0;
}

header{
    display:flex;
    background-color: rgb(33, 31, 32);
    height: 130px;
    justify-content: left;
}

.logo{
    display: flex;
}

.logo img{
    height: 120px;
    
}
body{
    width: 100%;
    height: 100%;
    font-family: 'poppins',sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background: color(srgb 255 255 255);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.title{
    display: flex;
    text-align: center;
    font-size: 60px;
    color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
}
.container{
    width: 100%;
    max-width: 1200px;
   /* height: 430px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    min-height: calc(100vh -130px - 100px);
    background: #074f57;
    background:url(./img/fondoRestaurante.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}
.container .card{
    width: 250px;
    height: 130px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1.6px solid rgb(33, 31, 32);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    position: relative;
    background: #87CEEB;
}
h4{
    display: flex;
    justify-content: left;
    margin-left: 10px;
    width: 30%;

}
.botones{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15%;
}
.container .card:hover{
    transform: translateY(5px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container a{
    text-decoration: none;
    background: #211f20;
    color: aliceblue;
    border-radius: 10px;
    width: 37%;
    padding: 3px;
}
.container a:hover{
    background-color: aliceblue;
    color: #211f20;
    border: 2px solid #211f20;
    letter-spacing: 0.25em;
    transition: 500ms;
}
.container a:focus{
    background: #28BFF8;
    color: black;
    border: 2px solid #211f20;
}
.container .card img{
    width: 230px;
    height: 200px;
}
footer{
    background: #211f20;
    margin-top: auto;
    height: 100px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seleccion{
    background: gainsboro;
    border-radius: 10px;
    position: absolute;
    margin-top: 8%;
    padding: 5px;
    margin-left: 50%;
    overflow-y: scroll;
}
option{
    height: 50px;
    overflow-y: scroll;
}
.seleccion2{
    background: gainsboro;
    border-radius: 10px;
    position: absolute;
    margin-top: 35%;
    padding: 5px;
    margin-left: 50%;
    overflow-y: scroll;
}
.pendientes h2{
    margin-top: 40px;
    margin-left: 80px;
}
.card h2{
    display: flex;    
    justify-content: flex-start;
    margin-left: 20px;
}
.tabla{
    border: 2px solid black;
    width: 356px;
    margin: 10px auto;
    width: 600px;
}
table{
    background-color: aliceblue;
    width: 600px;
    border-collapse: collapse;

}
th{
    padding: 10px;
}
td{
    text-align: left;
    text-align: center;
    padding: 10px;
}
thead{
    background-color: #FCC84D;
    border-bottom: 3px solid black;
}
tr:nth-child(even){
    background-color: #DCDDE2;
}
tr:hover td{
    background-color: #87CEEB;
    color: #211f20;
    transition: 300ms;
}
i{
    font-size: 50px;
}