@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
html, body{
    margin: 0;
    padding: 0;
}

header{
    display:flex;
    background-color: rgb(33, 31, 32);
    height: 130px;
}

.logo{
    display: flex;
}

.logo img{
    height: 120px;
    
}

body{
    width: 100%;
    height: 100%;
    font-family: 'poppins',sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background: color(srgb 255 255 255);
    background-position: center;
    background-size: cover;
    min-height: 100vh;

}

.title{
    text-align: center;
    font-size: 60px;
    color: rgb(255, 255, 255);

}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 250px;
    height: 230px;
    border-radius: 8px;
    border: 1.6px solid rgb(33, 31, 32);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(5px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 230px;
    height: 200px;
}

